<ion-header>
  <ion-toolbar class="lock-color">
    <ion-title>Botón de pánico</ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="closeModal()">
          <ion-icon slot="icon-only" name="close"></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding-start ion-padding-end">
    <ion-text class="ion-align-self-center ion-margin-horizontal">Está a punto de confimar el envío de una moto a su domicilio.</ion-text>
    <div class="row">
      <div class="col text-center">
        <ion-button color="primary" (click)="closeModal()">
          <ion-icon slot="start" name="close-circle-outline" shape="round"></ion-icon>
          Cancelar
        </ion-button>
        <ion-button color="primary" (click)="insertarContacto()">
          <ion-icon slot="start" name="checkmark-circle-outline" shape="round"></ion-icon>
          Aceptar
        </ion-button>
      </div>
    </div>
  
</ion-content>
