<ion-header>
  <ion-toolbar class="lock-color">
    <ion-buttons slot="start">
        <ion-back-button></ion-back-button>
    </ion-buttons>
    <ion-title><img src="/assets/imagenes/logo_g.png"/></ion-title>
</ion-toolbar>
</ion-header>

<ion-content>
  <div style="overflow:auto;-webkit-overflow-scrolling:touch">
      <iframe style="width:100%;" [src]="https://onlinebanking.bancogalicia.com.ar/login?_ga=2.198099178.430081897.1573818278-264456461.1573818278&cm_mc_uid=63798672549115738182791&cm_mc_sid_51630000=96986961573818279156"></iframe>
  </div>
</ion-content>

<ion-footer>
  <ion-toolbar class="lock-footer">
    <p>www.guazuseguridad.com.ar</p>
    <p>(0376) 4433870 / 4441054</p>
  </ion-toolbar>
</ion-footer>