<h3>Crear Usuario</h3>
<mat-tab-group>
  <mat-tab>
    <div class="col-12">
      <ng-template mat-tab-label>
        Datos de la cuenta
        <!--
      <i class="far fa-address-card"></i>&nbsp;Datos del cliente
      -->
      </ng-template>
      <div class="card card-primary mt-2 container">
        <!-- form start -->
        <form role="form" ngNativeValidate [formGroup]="formUsuario" (ngSubmit)="crearUsuario()" action=""
          method="post">
          <div class="card-body form-row">
            <div class="form-group col-md-12">
              <label for="nombre">Nombre completo</label>
              <input formControlName="nombre" name="nombre" type="text" class="form-control"
                placeholder="Nombre completo" required>
            </div>
            <div class="form-group col-md-6">
              <label for="email">E-mail</label>
              <input formControlName="email" name="email" type="email" class="form-control" placeholder="e-mail"
                required>
            </div>
            <div class="form-group col-md-6">
              <label for="telefono">Teléfono</label>
              <input formControlName="telefono" name="telefono" type="text" class="form-control" placeholder="Teléfono"
                required>
            </div>
            <div class="form-group col-md-6">
              <label for="rol">Rol</label>
              <select class="custom-select" (change)="cambioRol($event)" formControlName="rol">
                <option value="" disabled>Seleccionar un rol</option>
                <option value="administrador">Administrador</option>
                <option value="cliente">Cliente</option>
              </select>
            </div>
            <div class="form-group col-md-6">
              <label for="codigo_gestion">Nro de abonado</label>
              <input formControlName="codigo_gestion" name="codigo_gestion" [disabled]="cargando" type="text" class="form-control"
                placeholder="Código de gestión" required>
            </div>
            <div class="form-group col-md-6">
              <label for="password">Contraseña</label>
              <input formControlName="password" name="password" [disabled]="cargando" type="password" class="form-control"
                placeholder="Contraseña" required>
            </div>
          </div>
          <!-- /.card-body -->
          <div class="card-footer row justify-content-end">
            <a routerLink="/usuarios" *ngIf="!cargando" type="button" class="btn btn-secondary mr-2">Cancelar</a>
            <button *ngIf="!cargando" [disabled]="formUsuario.invalid" type="submit" class="btn btn-primary">Guardar</button>
            <button *ngIf="cargando" [disabled]="true" class="btn btn-primary">
              <i class="fa fa-spin fa-sync"></i>
              Por favor espere...
            </button>
          </div>
        </form>
      </div>
    </div>
  </mat-tab>
</mat-tab-group>

