<ion-header>
    <ion-toolbar class="lock-color">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title><img src="/assets/imagenes/logo_g.png"/></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    
    <div class="ion-padding">
        <ion-text>
            <h2>Solicite atención al cliente</h2>
        </ion-text>
    <form [formGroup]="atencion">
        <ion-item>
            <ion-label>Abonado:</ion-label>
            <ion-input formControlName="email"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Motivo:</ion-label>
            <ion-textarea formControlName="descripcion"></ion-textarea>
       </ion-item>
      <ion-button (click)="insertarContacto()" class="lock-button" expand="block" type="submit" block>Solicitar</ion-button>
    </form>
  </div>

</ion-content>
<ion-footer>
    <ion-toolbar class="lock-footer">
      <p>www.lock-seguridad.com.ar</p>
      <p>(0376) 4433870 / 4441054</p>
    </ion-toolbar>
  </ion-footer>