<ion-header>
  <ion-toolbar class="lock-color">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title><img src="/assets/imagenes/logo_g.png"/></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  
  <ion-grid class="ion-padding">
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col size="6" class="ion-padding-horizontal ion-align-self-center">
        <div class="lock-boton ion-text-center">
          <a href="tel:+543764433870">
            <ion-img class="ion-align-self-center" src="/assets/imagenes/telefono.png"></ion-img>  
          </a>
          <ion-label class="lock-label">Llamanos 24hs</ion-label>
        </div>
      </ion-col>
      <ion-col size="6" class="ion-padding-horizontal ion-align-self-center">
          <div class="lock-boton ion-text-center">
            <a rel="noopener" [routerLink]="['/chat']">
              <ion-img src="/assets/imagenes/chat.png"></ion-img>
            </a>
            <ion-label class="lock-label">Chat Online 24hs</ion-label>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col size="6" class="ion-padding-horizontal ion-align-self-center">
        <div class="lock-boton ion-text-center">
          <a  rel="noopener" [routerLink]="['/movil-domicilio']">
            <ion-img class="ion-align-self-center" src="/assets/imagenes/movil.png"></ion-img>  
          </a>
          <ion-label class="lock-label">Móvil a Domicilio</ion-label>
        </div>
      </ion-col>
      <ion-col size="6" class="ion-padding-horizontal ion-align-self-center">
          <div class="lock-boton ion-text-center">
            <a [routerLink]="['/servicio-tecnico']" rel="noopener">
              <ion-img src="/assets/imagenes/soporte_tecnico.png"></ion-img>
            </a>
            <ion-label class="lock-label">Servicio Técnico</ion-label>
        </div>
      </ion-col>
    </ion-row>
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col size="6" class="ion-padding-horizontal ion-align-self-center">
        <div class="lock-boton ion-text-center">
          <a [routerLink]="['/atencion-cliente']" rel="noopener">
            <ion-img src="/assets/imagenes/info.png"></ion-img>
          </a>
          <ion-label class="lock-label">Atención al Cliente</ion-label>
      </div>
    </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar class="lock-footer">
    <p>www.lock-seguridad.com.ar</p>
    <p>(0376) 4433870 / 4441054</p>
  </ion-toolbar>
</ion-footer>
