<ion-header>
    <ion-toolbar class="lock-color">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
        <ion-title><img src="/assets/imagenes/logo_g.png"/></ion-title>
    </ion-toolbar>
  </ion-header>

<ion-content>
    <ion-grid class="ion-padding">
        <ion-row class="ion-align-items-center ion-justify-content-center">
            <ion-text>
              <h2>Mi Alarma</h2>
            </ion-text>
        </ion-row>

        <ion-row class="ion-align-items-center ion-justify-content-center">
          <ion-col size="6" class="ion-padding-horizontal ion-align-self-center">
              <div class="lock-boton ion-text-center">
                <a rel="noopener" [routerLink]="['/historial-alarma']"> 
                  <ion-img src="/assets/imagenes/historial.png"></ion-img>
                </a>
                <ion-label class="lock-label">Historial</ion-label>
            </div>
          </ion-col>
        </ion-row>
      </ion-grid>
</ion-content>

<ion-footer>
    <ion-toolbar class="lock-footer">
      <p>www.lock-seguridad.com.ar</p>
      <p>(0376) 4433870 / 4441054</p>
    </ion-toolbar>
  </ion-footer>