<app-header [verTitulo]="false"></app-header>

<ion-content class="ion-padding-start ion-padding-end">

  <ion-list lines="full">
    <ion-list-header>
      <ion-img class="ion-align-self-center ion-margin-horizontal" src="/assets/imagenes/logo_g.png"></ion-img>
    </ion-list-header>
    <ion-item [routerLink]="['/historial-alarma']">
      <ion-img class="ion-margin-horizontal" slot="start" src="/assets/imagenes/historial.png"></ion-img>
      <ion-label class="lock-label">Historial</ion-label>
    </ion-item>
  </ion-list>

</ion-content>

<app-footer></app-footer>