/*
 * App Global CSS
 * ----------------------------------------------------------------------------
 * Put style rules here that you want to apply globally. These styles are for
 * the entire app and not just one component. Additionally, this file can be
 * used as an entry point to import other CSS/Sass files to be included in the
 * output CSS.
 * For more information on global stylesheets, visit the documentation:
 * https://ionicframework.com/docs/layout/global-stylesheets
 */

/* Core CSS required for Ionic components to work properly */
@import "~@ionic/angular/css/core.css";

/* Basic CSS for apps built with Ionic */
@import "~@ionic/angular/css/normalize.css";
@import "~@ionic/angular/css/structure.css";
@import "~@ionic/angular/css/typography.css";
@import '~@ionic/angular/css/display.css';

/* Optional CSS utils that can be commented out */
@import "~@ionic/angular/css/padding.css";
@import "~@ionic/angular/css/float-elements.css";
@import "~@ionic/angular/css/text-alignment.css";
@import "~@ionic/angular/css/text-transformation.css";
@import "~@ionic/angular/css/flex-utils.css";

.lock-color{
    /*--background: #009fdb;*/
    --background: #ffffff;
    color: #009fdb;
    text-align: center;
}

.lock-color img{
   width: 180px;
   display:inline-block;
}

.lock-footer{
    --background: #009fdb;
    color: white;
    font-size: 9px;
    text-align: center;
}

.lock-button{
    --background: #009fdb;
    color: white;
}

.lock-label{
    /*color:#009fdb;*/
    color:#000000;
    font-size: 11px;
}

.lock-boton{
    border: solid 5px #009fdb;
    padding: 5% 10%;
}