<nav class="sidebar sidebar-offcanvas">
    <ul class="nav">
      <!--
      <li class="nav-item nav-profile">
        <div class="nav-link">

          <div class="user-wrapper">
            <div class="profile-image">
              <img src="assets/images/faces/face1.jpg" alt="profile image">
            </div>

            <div class="text-wrapper">
              <p class="profile-name">Cristobal Colón</p>
              <div>
                <small class="designation text-muted">Gerente</small>
              </div>
            </div>
          </div>

        </div>
      </li>
      -->
      <li class="nav-item">
        <a routerLink="/boton-panico" class="nav-link">
          <i class="menu-icon fas fa-bell text-danger"></i>
          <span class="menu-title">Botón de Pánico</span>
          <span *ngIf="contactoService.cantContactos.panico > 0" class="badge badge-danger right">{{ contactoService.cantContactos.panico }}</span>
        </a>
      </li>

      <li class="nav-item">
        <a routerLink="/usuarios" class="nav-link">
          <i class="menu-icon fas fa-users text-info"></i>
          <span class="menu-title">Usuarios</span>
        </a>
      </li>

      <li class="nav-item">
        <a routerLink="/movil-domicilio" class="nav-link">
          <i class="menu-icon fas fa-motorcycle text-primary"></i>
          <span class="menu-title">Móvil a domicilio</span>
          <span *ngIf="contactoService.cantContactos.movil > 0" class="badge badge-primary right">{{ contactoService.cantContactos.movil }}</span>
        </a>
      </li>

      <li class="nav-item">
        <a routerLink="/servicio-tecnico" class="nav-link">
          <i class="menu-icon fas fa-wrench text-primary"></i>
          <span class="menu-title">Servicio Técnico</span>
          <span *ngIf="contactoService.cantContactos.servicio > 0" class="badge badge-primary right">{{ contactoService.cantContactos.servicio }}</span>
        </a>
      </li>

      <li class="nav-item">
        <a routerLink="/atencion-cliente" class="nav-link" routerLinkActive="active">
          <i class="menu-icon fas fa-phone text-primary"></i>
          <span class="menu-title">Atención al cliente</span>
          <span *ngIf="contactoService.cantContactos.atencion > 0" class="badge badge-primary right">{{ contactoService.cantContactos.atencion }}</span>
        </a>
      </li>

      <li class="nav-item">
        <a routerLink="/debito-automatico" class="nav-link" routerLinkActive="active">
          <i class="menu-icon far fa-credit-card text-primary"></i>
          <span class="menu-title">Débito automatico</span>
          <span *ngIf="contactoService.cantContactos.atencion > 0" class="badge badge-primary right">{{ contactoService.cantContactos.debito }}</span>
        </a>
      </li>

      <li class="nav-item">
        <a routerLink="/promociones" class="nav-link">
          <i class="menu-icon fas fa-dollar-sign text-info"></i>
          <span class="menu-title">Promociones</span>
        </a>
      </li>

      <li class="nav-item">
        <a routerLink="/parametros" class="nav-link">
          <i class="menu-icon fab fa-whmcs text-success"></i>
          <span class="menu-title">Parametros</span>
        </a>
      </li>

      <li class="nav-item">
        <a (click)="logout()" class="nav-link cursor">
          <i class="menu-icon fa fa-sign-out-alt text-warning"></i>
          <span class="menu-title">Cerrar sesión</span>
        </a>
      </li>

    </ul>
  </nav>
