<ion-header>
    <ion-toolbar class="lock-color">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title><img src="/assets/imagenes/logo_g.png"/></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div *ngFor="let promocion of promociones">
      <ion-card class="sombra">
        <img [src]="'http://lock-api.grupo-sim.com.ar/'+promocion.imagen" />
        <ion-card-header>
          <ion-card-title style="color:#ffffff;">{{promocion.titulo}}</ion-card-title>
        </ion-card-header>
        <ion-card-content style="color:#ffffff;">
            {{promocion.descripcion}}
        </ion-card-content>
      </ion-card>
    </div>

     
</ion-content>

<ion-footer>
    <ion-toolbar class="lock-footer">
      <p>www.guazuseguridad.com.ar</p>
      <p>(0376) 4433870 / 4441054</p>
    </ion-toolbar>
  </ion-footer>