<app-header [verTitulo]="false"></app-header>

<ion-content>

  <ion-img class="ion-align-self-center ion-margin-horizontal" src="/assets/imagenes/logo_g.png"></ion-img>

  <div *ngFor="let promocion of promociones">
    <ion-card class="sombra">
      <img [src]="'http://lock-api.grupo-sim.com.ar/'+promocion.imagen" />
      <ion-card-header>
        <ion-card-title style="color:#ffffff;">{{promocion.titulo}}</ion-card-title>
      </ion-card-header>
      <ion-card-content style="color:#ffffff;">
        {{promocion.descripcion}}
      </ion-card-content>
    </ion-card>
  </div>


</ion-content>

<app-footer></app-footer>