<ion-header>
  <ion-toolbar class="lock-color">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
    <ion-title>facturas</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div>
    <ion-img class="ion-align-self-center" src="/assets/imagenes/logo_g.png"></ion-img>
  </div>
  <ion-grid class="ion-padding">
    <ion-row class="ion-align-items-center ion-justify-content-center">
      <ion-col size="6" class="ion-padding-horizontal ion-align-self-center">
        <div class="lock-boton ion-text-center">
          <!--a (click)="openWithInAppBrowser('https://clientes.axoft.com/')"-->
          <a rel="noopener" [routerLink]="['/ver-factura']">
            <ion-img class="ion-align-self-center" src="/assets/imagenes/ver_facturas.png"></ion-img>  
          </a>
          <ion-label class="lock-label">Ver Factura</ion-label>
        </div>
      </ion-col>
      <ion-col size="6" class="ion-padding-horizontal ion-align-self-center">
          <div class="lock-boton ion-text-center">
            <a [routerLink]="['/pagar-factura']">
              <ion-img src="/assets/imagenes/facturas.png"></ion-img>
            </a>
            <ion-label class="lock-label">Pagar Factura</ion-label>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>

</ion-content>

<ion-footer>
  <ion-toolbar class="lock-footer">
    <p>www.lock-seguridad.com.ar</p>
    <p>(0376) 4433870 / 4441054</p>
  </ion-toolbar>
</ion-footer>