<div class="container-fluid">
    <h3>Servicio técnico</h3>
    <mat-form-field>
      <input matInput (keyup)="applyFilter($event.target.value)" placeholder="Buscar">
    </mat-form-field>

    <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

      <ng-container matColumnDef="created_at">
        <th mat-header-cell *matHeaderCellDef> Fecha </th>
        <td mat-cell *matCellDef="let element"> {{element.created_at}} </td>
      </ng-container>

      <ng-container matColumnDef="user.codigo_gestion">
        <th mat-header-cell *matHeaderCellDef> Nro abonado </th>
        <td mat-cell *matCellDef="let element"> {{element.user.codigo_gestion}} </td>
      </ng-container>

      <ng-container matColumnDef="user.nombre">
        <th mat-header-cell *matHeaderCellDef><span class="d-none d-sm-block">Nombre</span> </th>
        <td mat-cell *matCellDef="let element"><span class="d-none d-sm-block">{{element.user.nombre}}</span> </td>
      </ng-container>

      <ng-container matColumnDef="titulo">
        <th mat-header-cell *matHeaderCellDef><span class="d-none d-sm-block"> Título</span> </th>
        <td mat-cell *matCellDef="let element"><span class="d-none d-sm-block">{{element.titulo}}</span> </td>
      </ng-container>

      <ng-container matColumnDef="descripcion">
        <th mat-header-cell *matHeaderCellDef><span class="d-none d-sm-block"> Descripcion</span> </th>
        <td mat-cell *matCellDef="let element"><span class="d-none d-sm-block">{{element.descripcion}}</span> </td>
      </ng-container>

      <!--
    <ng-container matColumnDef="acciones">
      <th mat-header-cell *matHeaderCellDef> Acciones </th>
      <td mat-cell *matCellDef="let element">
        <div class="btn">
          <button type="button"
            class="btn btn-primary"
            placement="top"
            ngbTooltip="Ver"
            >
            <i class="fas fa-pencil-alt"></i>
          </button>
        </div>
      </td>
    </ng-container>
  -->
      <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
      <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
    </table>
    <mat-paginator [pageSizeOptions]="[5, 10, 25, 100]"></mat-paginator>
  </div>
