<ion-header>
    <ion-toolbar class="lock-color">
        <ion-buttons slot="start">
            <ion-back-button></ion-back-button>
        </ion-buttons>
    <ion-title>Servicio técnico</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div>
        <ion-img class="ion-align-self-center" src="/assets/imagenes/logo_g.png"></ion-img>
    </div>
    <div class="ion-padding">
        <ion-label>Solicite servicio técnico</ion-label>
    <form>
        <ion-item>
            <ion-label>Abonado:</ion-label>
            <ion-input value="admin@admin.com"></ion-input>
        </ion-item>
        <ion-item>
            <ion-label position="floating">Motivo:</ion-label>
            <ion-textarea></ion-textarea>
       </ion-item>
      <ion-button class="lock-button" expand="block" type="submit" block>Solicitar</ion-button>
    </form>
  </div>

</ion-content>
<ion-footer>
    <ion-toolbar class="lock-footer">
      <p>www.lock-seguridad.com.ar</p>
      <p>(0376) 4433870 / 4441054</p>
    </ion-toolbar>
  </ion-footer>