<ion-header>
    <ion-toolbar class="lock-color">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title><img src="/assets/imagenes/logo_g.png"/></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    
    <div class="ion-padding">
        <ion-button class="lock-button" expand="block" [routerLink]="['/pagomiscuentas']">Pago mis cuentas</ion-button>
        <ion-button class="lock-button" expand="block" [routerLink]="['/rapipago']">Rapipago</ion-button>
        <ion-button class="lock-button" expand="block" (click)="openWithInAppBrowser('https://www.e-pagofacil.com/')">Pago Fácil</ion-button>
        <ion-button class="lock-button" expand="block" [routerLink]="['/banco-macro']">Banco Macro</ion-button>
        <ion-button class="lock-button" expand="block" [routerLink]="['/banco-galicia']">Banco Galicia</ion-button>
        <ion-button class="lock-button" expand="block" [routerLink]="['/banco-bbva']">Banco Francés</ion-button>
        <ion-button class="lock-button" expand="block" [routerLink]="['/debito']">Adherirse al débito automático</ion-button>
    </div>
    

</ion-content>

<ion-footer>
    <ion-toolbar class="lock-footer">
      <p>www.guazuseguridad.com.ar</p>
      <p>(0376) 4433870 / 4441054</p>
    </ion-toolbar>
  </ion-footer>