<ion-header>
    <ion-toolbar class="lock-color">
      <ion-buttons slot="start">
          <ion-back-button></ion-back-button>
      </ion-buttons>
      <ion-title><img src="/assets/imagenes/logo_g.png"/></ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
    
    <div class="ion-padding">
        <ion-button class="lock-button" expand="block" [routerLink]="['/pagomiscuentas']">Pago mis cuentas</ion-button>
        <ion-button class="lock-button" expand="block" (click)="openWithInAppBrowser('https://www.rapipago.com.ar/')">Rapipago</ion-button>
        <ion-button class="lock-button" expand="block" (click)="openWithInAppBrowser('https://www.e-pagofacil.com/')">Pago Fácil</ion-button>
        <ion-button class="lock-button" expand="block" (click)="openWithInAppBrowser('https://www.macro.com.ar/bancainternet/#')">Banco Macro</ion-button>
        <ion-button class="lock-button" expand="block" (click)="openWithInAppBrowser('https://www.bancogalicia.com/banca/online/web/Personas')">Banco Galicia</ion-button>
        <ion-button class="lock-button" expand="block" (click)="openWithInAppBrowser('https://www.bbva.com.ar/')">Banco Francés</ion-button>
        <ion-button class="lock-button" expand="block" (click)="openWithInAppBrowser('hik.intent.action.iVMS-4500://')">Adherirse al débito automático</ion-button>
    </div>
    

</ion-content>

<ion-footer>
    <ion-toolbar class="lock-footer">
      <p>www.lock-seguridad.com.ar</p>
      <p>(0376) 4433870 / 4441054</p>
    </ion-toolbar>
  </ion-footer>