<app-header [verTitulo]="true"></app-header>

<ion-content class="ion-padding-start ion-padding-end">
    
    <div>
        <ion-button class="lock-button" expand="block" [routerLink]="['/pagomiscuentas']">Pago mis cuentas</ion-button>
        <ion-button class="lock-button" expand="block" (click)="traerURI('rapipago')" >Rapipago</ion-button>
        <ion-button class="lock-button" expand="block" (click)="traerURI('pagofacil')">Pago Fácil</ion-button>
        <ion-button class="lock-button" expand="block" [routerLink]="['/banco-macro']">Banco Macro</ion-button>
        <ion-button class="lock-button" expand="block" (click)="traerURI('bancogalicia')">Banco Galicia</ion-button>
        <ion-button class="lock-button" expand="block" (click)="traerURI('bancofrances')">Banco Francés</ion-button>
        <ion-button class="lock-button" expand="block" [routerLink]="['/debito']">Adherirse al débito automático</ion-button>
    </div>
    

</ion-content>

<app-footer></app-footer>