<app-header [verTitulo]="false"></app-header>
<ion-content>
  <div>
    <ion-img class="ion-align-self-center ion-margin-horizontal" src="/assets/imagenes/logo_g.png"></ion-img>
  </div>
  <ion-label class="ion-padding" color="danger" floating> {{ mensaje }} </ion-label>
  <form [formGroup]="cambiarPass" ngNativeValidate (submit)="cambiarPassword()" class="ion-padding">
    <ion-grid class="ion-padding">
      <ion-row>
        <ion-col>
          <ion-list>
            <ion-item>
              <ion-label class="lock-label" position="floating">Contraseña actual</ion-label>
              <ion-input [type]="inputPasswordType" formControlName="password"></ion-input>
              <ion-button (click)="toggleInputPasswordType()" slot="end" class="btn_eye_icon">
                <ion-icon [name]="passwordIcon"></ion-icon>
              </ion-button>
            </ion-item>
            <ion-item>
              <ion-label class="lock-label" position="floating">Nueva Contraseña</ion-label>
              <ion-input [type]="inputNewPasswordType" formControlName="passwordDos"></ion-input>
              <ion-button (click)="toggleInputNewPasswordType()" slot="end" class="btn_eye_icon">
                <ion-icon [name]="newPasswordIcon"></ion-icon>
              </ion-button>
            </ion-item>
          </ion-list>
        </ion-col>
      </ion-row>
    </ion-grid>
    <div class="ion-padding">
      <ion-button class="lock-button" [disabled]="cambiarPass.invalid" expand="block" type="submit">Cambiar contraseña</ion-button>
    </div>
  </form>
</ion-content>

<app-footer></app-footer>